.inline-block {
    display: inline-block;
    vertical-align: top;
}

.inline {
    display: inline;
}

/* Set value of header with the id of main-header to height: 100px...

#main-header {
    height: 100px;
}

*/

/* Begin portfolio cards section: flexbox properties */

#portfolio {
    min-height: 800px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    margin: 15px;
}

.card-body {
    padding: 20px;
}