.inline-block {
    display: inline-block;
    vertical-align: top;
}

.inline {
    display: inline;
}

/* Set value of header with the id of main-header to height: 100px...

#main-header {
    height: 100px;
}

*/