.inline-block {
    display: inline-block;
    vertical-align: top;
}

.inline {
    display: inline;
}

#main-header {
    height: 90px;
    display: flex;
    justify-content: space-between;
}

/* Begin portfolio cards section: flexbox properties */

#portfolio {
    min-height: 800px;
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    display: inline-block;
    background-color: #fff;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    margin: 15px;
}

.card-body {
    padding: 20px;
}

/* Begin images showing up review */

footer {
    display: flex;
    padding: 20px 0;
    justify-content: space-between;
}

.footer-nav img {
    width: 40px;
}